{% block content %}
{% load static %}

{% include 'header.html' %}

<!-- Start Wishlist  -->
<div class="wishlist-box-main">
    <div class="container"><br>
        <h3> Bookings</h3><br>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date </th>
                                <th>Place</th>
                                <th>Phone</th>
                                <th>Type</th>
                                <th>Issue</th>
                                <th>Status</th>
                                <th>Confirm</th>
                                <th>Cancel Booking</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              {% for i in result %}
                                <td class="name-pr">{{i.uname}}</td>
                                <td class="price-pr">{{i.date}}</td>
                                <td class="quantity-box">{{i.place}}</td>
                                <td class="quantity-box">{{i.phone}}</td>
                                <td class="quantity-box">{{i.typee}}</td>
                                <td class="quantity-box">{{i.issue}}</td>
                                <td class="quantity-box">{{i.status}}</td>
                                <td class="add-pr">
                                    <a  href="confirm/{{i.id}}">Confirm Booking</a>
                                </td>
                                <td class="add-pr">
                                    <a  href="reject/{{i.id}}">Reject Booking</a>
                                </td>
                              
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>

{% include 'footer.html' %}

{% endblock %}